@import './config';
.main {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-height: 100vh;

    @include bg-img();

.info {
    color: white;
    overflow: hidden;
    padding: 4rem;
    z-index: 2;

    .lg-text{
        font-weight: 300;
        font-size: 5rem;
        margin-top: 10vh;
        z-index: 1;
      
     .sec-text{
       color: $secondary-color;
       padding-left: 1.5rem;
     }

 
    }
    .sm-text {
      margin:2rem 0;
      padding: 0.2rem 1rem;
      font-weight: 400;
      width: 35rem;
      background: rgba(lighten($primary-color, 2),0.2);
      border-right: 3px solid rgba($secondary-color,.75);
      white-space: nowrap;
      overflow: hidden;
      transform: translateY(-50%);    
    } 
    .anim-typewriter{
      animation: typewriter 4s steps(50) 1s 1 normal both,
                 blinkTextCursor 500ms steps(44) infinite normal;
    }

    @keyframes typewriter{
      from{width: 0;}
      to{width: 24em;}
    }
    @keyframes blinkTextCursor{
      from{border-right-color: rgba($secondary-color,.75);}
      to{border-right-color: transparent;}
    }
    
    .icons{
        margin-bottom: 0.5rem;
      .link{
        color: white;
        padding: 0.4rem;

        &:hover {
          color: $secondary-color;
          @include easeOut()
        }
      }
    }
  } 
}
