$primary-color: #444;
$secondary-color: #eece1a;
$show-image: true;
$homepage-image: url(../../assest/images/homepage.png);
$background-opacity: 0.4;

@mixin easeOut(){
  transition: all 0.5s ease-out;
}

@mixin bg-img(){
  @if $show-image {
    .bg-img {
      background: $homepage-image;
      background-attachment: fixed;
      background-size: cover;
      filter: blur(2px);
      position:absolute;
      top: 0;
      right: 0;
      width: 100vw;
      height: 100vh;
      z-index: -999;
      
    }
    &:after{
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 100vw;
      height: 100vh;
      z-index: -1;
      background: rgba($primary-color, $background-opacity);
    }
  }
}

.main {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-height: 100vh;

    @include bg-img();

.info {
    color: white;
    overflow: hidden;
    padding: 4rem;
    z-index: 99;

    .lg-text{
        font-weight: 300;
        font-size: 5rem;
        margin-top: 20vh;
        z-index: 1;
      
     .sec-text{
       color: $secondary-color;
       padding-left: 1.5rem;
     }

 
    }
    .sm-text {
      margin-bottom:2rem;
      padding: 0.2rem 1rem;
      font-weight: 400;
      width: 25rem;
      background: rgba(lighten($primary-color, 2),0.2);
      border-right: 3px solid rgba($secondary-color,.75);
      white-space: nowrap;
      overflow: hidden;
      transform: translateY(-50%);    
    } 
    .anim-typewriter{
      animation: typewriter 4s steps(50) 1s 1 normal both,
                 blinkTextCursor 500ms steps(44) infinite normal;
    }

    @keyframes typewriter{
      from{width: 0;}
      to{width: 24em;}
    }
    @keyframes blinkTextCursor{
      from{border-right-color: rgba($secondary-color,.75);}
      to{border-right-color: transparent;}
    }
    
    .icons{
        margin-bottom: 0.5rem;
      .link{
        color: white;
        padding: 0.4rem;

        &:hover {
          color: $secondary-color;
          @include easeOut()
        }
      }
    }
  } 
}
