@import '../../page/Homepage/config';
@import '../../component/Header/_media';

.menu-btn {
  position: absolute;
  z-index: 5;
  right: 35px;
  top: 35px;
  cursor: pointer;
  @include easeOut();


  .btn-line {
    width: 28px;
    height: 3px;
    margin-bottom: 5px;
    background: set-text-color($primary-color) ;
    @include easeOut()
  }

  &.close {
    transform: rotate(180deg);

    .btn-line {
      &:nth-child(1) {
        transform: rotate(45deg) translate(5px, 7px);
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -6px);
      }
    }
  }
}

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.9;
  visibility: hidden;

  &.show {
    visibility: visible;
  }

  &-nav,
  .display-pic {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden;


  }

  &-nav {
    margin: 0;
    padding: 0;
    background: darken($primary-color, 2);
    list-style: none;
    transform: translate3d(0, -100%, 0);
    @include easeOut;

    .nav-item {
      // slides in list from left
      transform: translate3d(700px, 0, 0);
      @include easeOut;

      &.show {
        transform: translate3d(0, 0, 0);
      }

    }

    .item {

      color: set-text-color($primary-color);
      text-decoration: none;
      list-style: none;
      line-height: 1.5;
      font-weight: 500;
      font-size: 2rem;
      text-transform: uppercase;
      padding: 1rem 0;
      @include easeOut;


      transform: translate3d(600px, 0, 0);

      &:hover {
        color: $secondary-color;
        @include easeOut;
      }
    }

    &.show {
      transform: translate3d(0, 0, 0);
    }

    // Delay for each item befor sliding in (1s)
  }

  @for $x from 1 through 4 {
    .nav-item:nth-child(#{$x}) {
      transition-delay: $x * 0.1s;
    }
  }

  .display-pic {
    background: $primary-color;
    // slide background in from top
    transform: translate3d(0, 100%, 0);
    @include easeOut;

    &.show {
      transform: translate3d(0, 0, 0);
    }

    .portrait {
      position: relative;
      top: 5rem;
      width: 250px;
      height: 250px;
      background: $dp;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 50%;
      border: 3px solid rgba($primary-color, 0.35);
      // slide in image from left
      transform: translate3d(-100%, 0, 0);
      @include easeOut();

      &.show {
        transform: translate3d(0, 0, 0);
      }
    }
  }
}

@include mediaMed() {
 .menu{

  .display-pic{
    display: none;
  }
  .menu-nav{
    width: 100vw;
    transform: translate3d(-100%, 0 ,0);

    &.show {
      transform: translate3d(0,0,0);
      @include easeOut;
    
    }
  }
 }
}
